<!DOCTYPE html>
<html>
<head>
  <title><%= StatBoard.title || "StatBoard" %></title>
  <%= stylesheet_link_tag "stat_board/bootstrap", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="page-header">
    <h1><%= StatBoard.title || "StatBoard" %></h1>
  </div>

  <%= yield %>
</div>

</body>
</html>
